*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face{
    src: url('fonts/leaguespartan-bold.ttf');
    font-family: 'boldfont'
};



@font-face{
    src: url('fonts/proxima.ttf');
    font-family: 'primaryfont'
};



.primaryfont{
    font-family: 'primaryfont'!important;
    font-size: 2rem;
}

.boldfont{
    font-family: 'boldfont';
    font-size: 1.5rem;
    letter-spacing: 0.6px;
}

#rotate{
    transform:rotate(60deg);
    -webkit-transform:rotate(60deg);
    -moz-transform:rotate(60deg);
    -ms-transform:rotate(60deg);
    -o-transform:rotate(60deg);
}

.padd{
    padding: 16px;
}

.wrap{
    background:#16bb48;
    
}    
.white{
    color:white;
}
.extend{
    width: 100%;
}
.resetletter{
    letter-spacing: 0;
}
.flexit{
    display: flex;
    justify-content: space-around;
}
.paddfix{
    padding-left: 10%;
}
.footer{
  margin-top:8vh;
}
.footer p{
    padding-bottom:11px;
    padding-top: 11px;
}
.hvcenter{
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   -webkit-transform:translate(-50%,-50%);
   -moz-transform:translate(-50%,-50%);
   -ms-transform:translate(-50%,-50%);
   -o-transform:translate(-50%,-50%);
}
.extend70{
    width: 50%;
}

.padrfix{
    padding-right: 10%;
}

.smallfont{
    font-family: 'boldfont';
}

.medfont{
    font-family: 'boldfont';
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.panelfix{
    margin-right: 256px;
}

/* .riyacard{
    position: relative;
    top:-10px;
    transform: translateY(-50px);
    left:50%;
    align-content: center;

} */

.marginrem{
    margin-bottom: none;
}